<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org">
<head>
<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="style/styleCss.css"/>
</head>
<body>
<header>
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Cadastro de Pedidos</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Meus Dados</a></li>
        <li><a href="sass.html">Meus Pedidos</a></li>
        <li><a href="/logout">Sair</a></li>
      </ul>
    </div>
  </nav>
</header>
<form class="container" method="post">
<fieldset>
  <label for="field3" th:text="#{field3}"></label><br/>
  <label for="field4" th:text="#{field4}"></label><br/>
  <input type="text" value="" name="endereco"/><br/>
  <div th:each="produto : ${produtos}"><br/>
    <div class="row">
     <p><span th:text="${produto.nome}"></span></p>
     <p><span th:text="${produto.valor}"></span></p>
   </div>
  </div>
   <label for="field5" th:text="#{field5}"></label><br/>
  <fieldset>
    <input name="tipo_lanche" type="radio" value="x-tudo" id="x-tudo" />
	  <label for="x-tudo" >X-Tudo R$ 10,00</label>
	<input name="tipo_lanche" type="radio" value="x-salada" id="x-salada" />
	  <label for="x-salada">X-Salada R$ 9,00</label>
	<input name="tipo_lanche" type="radio" value="x-egg" id="x-egg" />
	  <label for="x-egg">X-Egg R$ 9,00    </label>
	<input name="tipo_lanche" type="radio" value="x-4 queijo" id="x-4queijo" />
	  <label for="x-4queijo">X-4 Queijo R$ 13,00    </label>
	<input name="tipo_lanche" type="radio" value="x-File" id="x-file" />
	  <label for="x-file">X-File R$ 13,00    </label>
	<input name="tipo_lanche" type="radio" value="xx" id="xx" />
	  <label for="xx">XX R$ 13,00    </label>    
  </fieldset>  
 <label for="field15" th:text="#{field15}"></label><br/>
  <fieldset>
 <label for="field6" th:text="#{field6}"></label><br/>
	  <input name="tipo_pao" type="radio" value="italiano" id="italiano" />
	  <label for="italiano" >Italiano</label>
	  <input name="tipo_pao" type="radio" value="Frances" id="frances" />
	  <label for="frances">Frances</label><br/>
  </fieldset> 
  <fieldset>	  
 <label for="field7" th:text="#{field7}"></label><br/>
	  <input name="tipo_salada" type="radio" value="alface" id="alface" />
	  <label for="alface" >Alface</label>
	  <input name="tipo_salada" type="radio" value="rucula" id="rucula" />
	  <label for="rucula">Rucula</label>
	  <input name="tipo_salada" type="radio" value="acelga" id="acelga"/>
	  <label for="acelga">Acelga</label><br/>
 </fieldset>
 <fieldset>  
 <label for="field8" th:text="#{field8}"></label><br/>
	  <input type="radio" value="Italiano" name="molho" id="italiano"/>
	  <label for="italiano">Italiano</label>
	  <input type="radio" value="Apimentado" name="molho" id="apimentado"/>
	  <label for="apimentado">Apimentado</label><br/>
  </fieldset>	
  <fieldset>
 <label for="field9" th:text="#{field9}"></label><br/>
	  <input type="radio" value="Pimenta" name="tempero" id="pimenta"/>
	  <label for="pimenta">Pimenta</label>
	  <input type="radio" value="Sal" name="tempero" id="sal"/>
	  <label for="sal">Sal</label>
	  <input type="radio" value="Oregano" name="tempero" id="oregano"/>
	  <label for="oregano">Oregano</label><br/>
	 </fieldset> 
  </fieldset>
 <label for="field13" th:text="#{field13}"></label><br/>
  <fieldset>
  <fieldset>
    <input type="checkbox" value="credito" name="tipo_pagamento" id="credito"/>
    <label for="credito">Credito</label>
    <input type="checkbox" value="debito" name="tipo_pagamento" id="debito"/>
    <label for="debito">Debito</label>
    <input type="checkbox" value="dinheiro" name="tipo_pagamento" id="dinheiro"/>
    <label for="dinheiro">Dinheiro</label><br/>
  </fieldset> 
 <label for="field14" th:text="#{field14}"></label><br/>
  <fieldset> 
  <input type="checkbox" value="true" name="troco" id="sim"/>
  <label for="sim">Sim</label>
    <input type="checkbox" value="false" name="troco" id="nao"/>
    <label for="nao">Nao</label><br/>
  </fieldset>
   <div class="right"> 
  <button class="waves-effect waves-light btn" type="submit"><i class="material-icons left">forward</i>Finalizar Pedido</button>
   </div>
   </fieldset>
  </form>
  <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>    
</html>      
